.registeruser,
.edituserdetails,
.userdetails {
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
	padding: 8px;
}

* {
	box-sizing: border-box;
}

.form-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -16px;
}

.col-50 {
	-ms-flex: 50%;
	flex: 50%;
}

.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}

.container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.form-row .col-50 input[type="text"],
input[type="email"],
select,
option {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 17px;
}

.form-btn {
	width: 10rem;
	background-color: #999b9c;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.form-btn:hover {
	background-color: #d95a27;
}

.form-row .col-50 input[type="text"]::placeholder {
	color: #727475;
}

.form-row .col-50 select::placeholder {
	color: #727475;
}

.form-row .col-50 label {
	margin-top: 10px;
	display: block;
}

h2 {
	color: #000;
}

a {
	color: #2196f3;
}

hr {
	border: 1px solid lightgrey;
}

#enable-user-check {
	width: 20px;
	height: 20px;
}

@media (max-width: 800px) {
	.form-row {
		flex-direction: column;
	}

	.col-25 {
		margin-bottom: 20px;
	}
}

.valid {
	color: #bf1650;
}

.valid::before {
	display: inline;
	content: "⚠ ";
}

/*RegisterUser*/
.registeruser .form-row .col-50 input[type="text"],
input[type="email"],
select,
option {
	background-color: #fff;
	border: 1px solid #d95a27;
	color: #000;
}
