.light .logo-dark,
.light .light-icon {
  display: none;
}

.dark .logo-light,
.dark .dark-icon {
  display: none;
}

.bg-primary {
  background: #4834d4;
}

.bg-success {
  background: #6ab04c;
}

.bg-warning {
  background: #f0932b;
}

.bg-danger {
  background: #eb4d4b;
}

.bg-orange {
  background: #d95a27;
}

.bg-grey {
  background: #e4e4e4;
}

.bg-dark {
  background: #2c2c2c;
}

* {
  box-sizing: border-box;
}

.overlay-scrollbar {
  font-family: "Roboto", sans-serif;
  background: #5e5e5e;
  color: #212529;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background: #2c2c2c;
  color: #212529;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.nav-link {
  float: left;
  text-align: left;
  padding: 21px 10px;
  text-decoration: none;
  font-size: 17px;
  color: #727475;
  position: relative;
}

.orange {
  color: #d95a27;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar-nav i {
  font-size: 1.4rem;
}

.nav-right {
  margin-left: auto;
}

.navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}

.navbar-search input {
  background: #fff;
  border: none;
  padding: 12px 50px 12px 50px;
  width: 100%;
  outline: none;
  color: #000;
  border-radius: 25px;
}

.navbar-search ::placeholder {
  color: #000;
}

.navbar-search i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #727475;
  cursor: pointer;
}

.logo {
  height: 60px;
  padding: 10px;
}

.avt img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.avt {
  padding: 11px;
}

.navbar-badge {
  font-size: 0.6rem;
  padding: 2px 4px;
  font-weight: 300;
  position: absolute;
  right: 5px;
  top: 9px;
  color: #fff;
  background: #eb4d4b;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-menu {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20%;
  top: 90%;
  background: #ffffff;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: unset;
  border-radius: 10px;
  border: 0.125px solid #f1f1f1;
}

.dropdown-expand {
  display: flex;
}

.notification-menu {
  min-width: 380px;
}

.dropdown-menu-content {
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu-item {
  width: 100%;
}

.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #212529;
}

.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.dropdown-menu-link i {
  font-size: 1.25rem;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
  font-size: 10px;
}

.dropdown-menu-link:hover {
  cursor: pointer;
  background: #d95a27;
}

.dropdown-menu-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-menu-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #f1f1f1;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #ffffff;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.wrapper {
  display: flex;
  padding: 10px;
  margin-left: 82px;
  padding-top: 75px;
  background: transparent;
  transition: margin-left 0.5s;
}

.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 65px;
  background: #2c2c2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width 0.5s;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.sidebar-nav-link i {
  font-size: 1.5rem;
  color: #999b9c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}

.sidebar-nav-link:hover {
  background: #d95a27;
}

.sidebar-nav-link.active {
  background: #f1f1f1;
  color: #eb4d4b;
}

.sidebar-nav-link.active div {
  border-left: 5px solid #eb4d4b;
}

.sidebar-nav-link.active i {
  color: #eb4d4b;
  margin-left: -5px;
}

.sidebar-expand .sidebar {
  width: 250px;
}

.sidebar-expand .wrapper {
  margin-left: 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row:after,
.row:before {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
  .sidebar {
    width: 0;
  }
  .wrapper {
    margin-left: 0;
  }
  .sidebar-expand .wrapper {
    margin-left: 0;
  }
  .nav-right .nav-item {
    display: none;
  }
  .nav-right .mode,
  .nav-right .avt-wrapper {
    display: list-item;
  }

  .dropdown-menu {
    max-width: 300px;
  }
  [class*="col-"] {
    width: 100%;
  }
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
  .card {
    width: 80%;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
  .card {
    width: 40%;
  }
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100rem;
  zoom: 0.78;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tr a {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

tr input {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

tr :hover {
  background-color: #fff;
}

@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}

/*ViewUsers*/
.action-btn-container {
  width: 100%;
  float: right;
}
.action-btn-container button {
  margin: 10px;
  width: 8rem;
}

.toggle input {
  display: none;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  border: 2px solid #b92121;
  background-color: #bc2612;
}

.slider::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
}

.slider::after {
  content: "";
}

.enable-disable {
  font-size: 20px;
}

.slider,
.slider::before {
  transition: all 0.2s;
}

.toggle input:checked + .slider {
  border: 2px solid #258805;
  background-color: #8cbc13;
}

.toggle input:checked + .slider::before {
  left: 50%;
}

/*FieldsConfiguration*/
.fieldconfig {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 2px 0px 0px 2px;
  align-content: stretch;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  margin: 25px;
  display: inline-table;
  zoom: 0.78;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* .fieldconfig .container {
	padding: 0px;
	align-content: center;
} */

.card button {
  font-size: 12px;
  margin: 2px;
  padding: 2px;
  width: auto;
  height: auto;
  cursor: pointer;
  outline-style: auto;
  background-color: #b92121;
  color: white;
}

.card a {
  margin: 0.5rem;
  color: #b92121;
}

.child-container {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  font-size: 18px;
}

.card-head {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 100;
}

/* .card h2 {
	margin: 15px;
} */

/* .fieldconfig .float-right {
	float: right;
}*/

.modal-btn {
  min-width: 8rem;
  min-height: 2rem;
}
.modal-btn:hover {
  background-color: #a10606;
  font-size: 16px;
}

/*Modal*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  padding: 15px;
  display: block;
  justify-content: center;
}

.modal-footer,
.modal-header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-field-value {
  width: 100%;
  font-size: large;
  outline: none;
  border: 2px solid rgb(65, 97, 33);
  padding: 5px;
  margin-top: 1rem;
}
.modal-field-value:focus {
  font-weight: lighter;
  outline: none;
  border: 2px solid #b92121;
}

.modal-head h4 {
  font-size: small;
}

.modal-body {
  /* padding: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff; */
  margin: 1rem;
  display: block;
  align-items: center;
  justify-content: space-evenly;
}
