@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.login-main p {
  margin-bottom: 32px;
  margin-top: 0px;
  font-weight: 400;
}

.login-main h2 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font: "Open Sans", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.login-main {
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  font-weight: 600;
  font: "Open Sans", sans-serif;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  
  min-height: 100vh;
}

.login-container {
  width: 45%;
  margin: auto;
}

.signin-content {
  margin-top: 0;
  width: 25rem;
  margin-right: 0px;
  background: #797979 !important;
  opacity: 0.9;
}

.signin-form {
  padding: 44px 70px 80px 45px;
}

.login-main .form-group {
  margin-bottom: 23px;
}

.login-main input[type="email"],
[type="password"],
[type="submit"] {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background: transparent;
  width: 100%;
  display: block;
  color: #fff;
  font-weight: bold;
  font: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 3px 0;
}
input::-webkit-input-placeholder {
  font-weight: 400;
  color: #fff;
}
input::-moz-placeholder {
  font-weight: 400;
  color: #fff;
}
input:-ms-input-placeholder {
  font-weight: 400;
  color: #fff;
}
input:-moz-placeholder {
  font-weight: 400;
  color: #fff;
}
input:focus {
  font-weight: bold;
}
 input:hover{
   cursor: pointer;
 }

.label-agree-term {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.term-service {
  color: #fff;
}

.submit {
  width: 130px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.submit-link {
  border: 2px solid #fff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 0;
  text-align: center;
  color: #fff;
}
.submit-link:hover {
  background: #fff;
  color: #283965;
}

/*google button */

.google-div {
  display: flex;
  justify-content: center;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #802906;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  background-color: #3a1303;
  cursor: pointer;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  margin-top: 15px;
}

@media screen and (max-width: 640px) {
  .login-container {
    width: calc(100% - 30px);
    max-width: 100%;
    margin: 0 auto;
  }

  .signin-content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .submit {
    width: 100%;
  }

  .form-submit {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .signin-form {
    padding: 54px 30px 36px 30px;
  }

  .btn-text {
    display: none;
  }
}

/* Upper Amalitech Image Div*/

.brand-div{
  width: 16rem;
  height:5rem;
  background-repeat: no-repeat;
  display: flex;
}